#cmake build folder
build

#bin files
*.o

#hidden files and folder
.*

#compressed backups
*.zip
*.tar.*


#Don't include the result folder of the scenarios
code/scenarios/**/results*/
code/scenarios/**/*.simu*

#documentation
code/doc

#Other folders
code/scenarios/InTAS/scenario/config
code/scripts/logs/
