#cmake build folder
build

#bin files
*.o

#hidden files and folder
.*

#compressed backups
*.zip
*.tar.*


#Don't include the result folder of the scenarios
master_thesis/code/scenarios/**/results*/
master_thesis/code/scenarios/**/*.simu*

#documentation
master_thesis/code/doc

#Other folders
master_thesis/code/scenarios/InTAS/scenario/config
master_thesis/code/scripts/logs/
